   <div class="container">

    <div class="jumbotron">

    <h2>Employer Form</h2>
    <h3>Hello snazzy employer! Tell us what you're hiring for :)</h3>
    <hr>

    <h3 id="header"><strong>What's your Company's Name?</strong></h3>
      <textarea>
      </textarea>

    <h3><strong>Question 1 </strong></h3>
    <h4>What department are you looking to hire for?</h4>
    <select class="chosen-select" id="q">
      <option value="1">Business</option>
      <option value="2">HR / Admin</option>
      <option value="3">Engineering </option>
      <option value="4">Marketing </option>
    </select>

      <h3><strong>Question 2 </strong></h3>
    <h4> What is your company size?</h4>
    <select class="chosen-select" id="q">
      <option value="1">Small</option>
      <option value="2">Medium</option>
      <option value="3">Large </option>
      <option value="4">Huge </option>
    </select>  
    
      <h3><strong>Question 3  </strong></h3>
    <h4>What is your company's maturity level?</h4>
    <select class="chosen-select" id="q">
      <option value="1">Early stage start-up</option>
      <option value="2">Established start-up</option>
      <option value="3">Large corporations</option>
      <option value="4">Open to anything</option>
    </select>

    <h3><strong>Question 4 </strong></h3>
    <h4>Which of the below best describes the office culture at your company?</h4>
    <select class="chosen-select" id="q">
      <option value="1">Casual</option>
      <option value="2">Formal</option>
      <option value="3">Relaxed </option>
      <option value="4">Fast Paced </option>
    </select>

    <h3><strong>Question 5 </strong></h3>
    <h4> Describe the seniority level of role you're hiring for:</h4>
    <select class="chosen-select" id="q">
      <option value="1">Entry-Level</option>
      <option value="2">Junior-Level</option>
      <option value="3">Mid-Level </option>
      <option value="4">Senior-Level </option>
    </select>

    <h3><strong>Question 6 </strong></h3>
    <h4> What is the salary range of the role?</h4>
    <select class="chosen-select" id="q">
      <option value="1">$20k - $50k</option>
      <option value="2">$50k - $100k</option>
      <option value="3">$100k - 150k+ </option>
      <option value="4">Open to anything</option>
    </select>


    <h3><strong>Question 7 </strong></h3>
    <h4> What type of role are you hiring for?</h4>
    <select class="chosen-select" id="q">
      <option value="1">Full Time</option>
      <option value="2">Part Time</option>
      <option value="3">Contract </option>
      <option value="4">Internship </option>
    </select>

    <h3><strong>Question 8 </strong></h3>
    <h4>When is the earliest you can start?</h4>
    <select class="chosen-select" id="q">
      <option value="1">As soon as possible</option>
      <option value="2">Two weeks</option>
      <option value="3">At least a month out </option>
      <option value="4">Undecided</option>
    </select>

    <h3><strong>Question 9 </strong></h3>
    <h4>Is upward mobility available for this role?</h4>
    <select class="chosen-select" id="q">
      <option value="1">Yes</option>
      <option value="2">No</option>
    </select>

    <h3><strong>Question 10 </strong></h3>
    <h4>Is international exposure available for this role?</h4>
    <select class="chosen-select" id="q">
      <option value="1">Yes</option>
      <option value="2">No</option>
    </select> 
 
 </div>

 <button type="submit" id="employerButton" class="btn btn-primary submit submitButton">Submit</button>

</div>

