<div class="container">

  <div class="jumbotron">

    <h2>View All Hiring Employers</h2>
    <hr>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){

  $.ajax({
        method: "GET",
        url: "/getallemployers"
      })
     .done(function(data) {
       var ul = $("<ul>")
         for (var i = 0; i < data.companyNames.length; i++){
           var li = $("<li>")
             li.html(data.companyNames[i])
             ul.append(li)
         }
    $(".jumbotron").append(ul)
    })

})


  
</script>