 <div class="container">

    <div class="jumbotron">
      <h1><i class="fa fa-facebook-square" aria-hidden="true"></i> Job Search! </h1>
      <hr>
      <h2>Answer a few basic questions. </h2>
      <h2>Then find a job with your compatibility!</h2>
      <br>

      <div>
        <a href="/jobform"><button type="button" class="btn btn-lg btn-primary"><h4><span class="glyphicon glyphicon-list-alt"></span> Candidate Form</h4></button></a>
      </div>


      <div>
        <a href="/employerform"><button type="button" class="btn btn-lg btn-primary"><h4><span class="glyphicon glyphicon-list-alt"></span> Employer Form</h4></button></a>
      </div>


    </div>